*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    background-color: beige;
    padding: 15px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
    display:block;

}
body{
    margin: 0;
    padding: 0;
    margin-top: 80px;
}
.top{
    
    font-size: 10;
    text-align: center;
}
nav {
    position: fixed;
    background-color:burlywood;
    font-size: medium;
    padding: 15px;
    text-align: center;
    width: 100%;
    top: 85px;
    left: 01;
    z-index: 2;

}
nav a{
    color: black;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
}

/* .container {
    display: flex;
    flex-direction:column;
    padding: 100px;
    position: fixed;
    height: 10vh;
    padding-left: 100px;
    
}
.container a{
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
} */
.sidebar{
    padding: 30px;
    width: 180px;
    position: relative;
    height: 100%;
    background-color: burlywood;
    z-index: 3;
}
/* .sidebar a{
    text-align: left;
    text-decoration: none;
    color: black;
    padding: 10px;
    text-align: center;
    flex-direction: column;


} */
 main{
    text-align: center;
 }
.container {
    flex-direction: column;
    /* display: flex;
    top:30px;
    text-align: center; */
}
nav a:hover{
    color: rgb(232, 232, 239);
    background-color: rgb(26, 1, 4);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 1px  rgb(227, 134, 12);
}


p {
    color: rgb(1, 15, 15);
}



button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition:background-color 0.3s ease;
}
button:active{
    background-color: palevioletred;
}
footer {
    background-color: beige;
    padding: 30px;
    text-align: center;
}